<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>PPS Menu Calendar Feeds</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/pelinoleg/CSSformalize@master/css/css-formalize.min.css">
  <style>
      html { scroll-behavior: smooth; }

      /* See https://www.cssformalize.com/generate.html */
      :root {
          --cform-text-color: rgba(0, 0, 0, 1);
          --cform-accent: rgba(0, 0, 0, 1);
          --spacing: 8px;
          --grey: #dedede;
      }

      p, h1, h2, h3, h4, h5, h6 {
          margin: 0;
      }

      body {
          margin: 0;
          padding: 0;
          font: 16px/24px Helvetica Neue, Arial, Helvetica, sans-serif;
      }

      button {
          font: 16px/24px Helvetica Neue, Arial, Helvetica, sans-serif;
      }

      .hidden {
          display: none;
      }

      .root {
          margin: calc(var(--spacing) * 3);
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      .printroot {
          display: none;
      }

      @media print {
          .root {
              display: none;
          }
          .printroot {
              display: flex;
              flex-direction: column;
              align-items: center;
          }
          h1 {
              font-size: 30pt;
          }
          h2 {
              font-size: 18pt;
          }
      }

      .chrome {
          max-width: 600px;
      }

      .toc {
          margin-left: calc(var(--spacing) * 3);
      }

      .content {
          display: flex;
          flex-direction: column;
          gap: calc(var(--spacing) * 2);
      }

      .pagehead {
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      .title {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: calc(var(--spacing) * 2);
      }

      .logo {
      }

      .subhead {
          margin-top: calc(var(--spacing) * 2);
      }

      h1 {
          line-height: 100%;
      }

      ul {
          margin-bottom: 0;
      }

      hr {

      }

      .status {
          position: fixed;
          left: 50%;
          transform: translateX(-50%);
          top: 50%;
          background: var(--grey);
          border-radius: 12px;
          border: black 2px solid;
          padding: 12px;
      }

      .copyable-menu-link {
          background: var(--grey);
          border-radius: 12px;
          border: none;
          padding: var(--spacing);
          font-size: 90%;
          cursor: pointer;
      }

      .copyable-menu-link:hover {
          background: #a6a6a6;
      }

      .cal-group {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: calc(var(--spacing) * 4);
      }

      .cal-add-row {
          display: flex;
          flex-direction: row;
          gap: calc(var(--spacing) * 2);
          width: 100%;
          justify-content: space-around;
      }

      .cal-add-group {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: var(--spacing);
      }

      .cal-add-group img {
          width: 64px;
      }

      .cal-add-group div {
          font-weight: bold;
      }

      .cal-add-group .qrcode {
          width: 128px;
      }

      hr {
          width: 75%;
          background-color: var(--grey);
          height: 2px;
          border: none;
      }
  </style>
</head>
<body>
<script>
  function handleUrlClick(e) {
    window.clearTimeout(window._ppsStatus)
    const txt = e.target.innerHTML.split('&nbsp;')[0];
    navigator.clipboard.writeText(txt)
    document.getElementById('status').classList.remove('hidden')
    window._ppsStatus = window.setTimeout(() => {
      document.getElementById('status').classList.add('hidden')
    }, 4000)
  }
</script>
<div class="root">
  <div class="chrome">
    <div class="content">
      <div class="pagehead">
        <div class="title">
          <img class="logo" width="54" height="54" src="/static/ui/pps_district_logo-01.png" alt="Portland Public Schools">
          <h1>PPS Menu Calendar Feeds</h1>
        </div>
        <p class="subhead">
          Sync the PPS food menus to your calendar app.
        </p>
        <p class="subhead">
          Scan the appropriate QR code, or tap the relevant icon, to add the calendar.
          <br />See the bottom of the page for instructions to add manually.
        </p>
      </div>
      <% unless limited %><ul class="toc">
        <% links.each do |link| %><li><a href="#<%= link[:slug] %>"><%= link[:name] %></a></li>
        <% end %></ul><% end %>
      <% links.each do |link| %>
      <hr />
      <div class="cal-group">
        <a id="<%= link[:slug] %>"></a>
        <h2><%= link[:name] %></h2>
        <div class="cal-add-row">
          <div class="cal-add-group">
            <img src="/static/ui/gcalendar.png" alt="Add to Google Calendar" />
            <a href=<%= link[:google_href] %>>Google Calendar</a>
            <div class="qrcode"><%= link[:google_svg] %></div>
          </div>
          <div class="cal-add-group">
            <img src="/static/ui/ical.png" alt="Add to Apple or Outlook" />
            <a href=<%= link[:webcal_href] %>>Apple/Outlook</a>
            <div class="qrcode"><%= link[:webcal_svg] %></div>
          </div>
        </div>
        <button class="copyable-menu-link" onclick="handleUrlClick(event)">Copy ICS file link&nbsp;📋</button>
      </div>
      <% end %>
      <p id="status" class="subhead status hidden">Copied to clipboard!</p>
      <hr />
      <div class="manual-add">
        <p class="subhead">
          <strong>To add a calendar manually,</strong> you can press the "Copy ICS Link" for a menu,
          and then 'Import from URL' in your calendar application.
        </p>
        <ul>
          <li><a href="https://www.gsa.gov/system/files/ImportCalendarGoogle.pdf">Instructions for GMail</a></li>
          <li><a href="https://www.iphonelife.com/content/how-to-link-calendars-iphone-2022">Instructions for iPhone</a>
          </li>
        </ul>
      </div>
      <hr />
      <div class="help">
        <p class="subhead">
          <strong><a href="<%= homepage %>"><%= homepage %></a></strong> is <strong>not</strong> an official PPS service.
          Email <a href="mailto://<%= author %> %>"><%= author %></a> to report any issues.
        </p>
        <p class="subhead">
          Check out the code at
          <a href="https://github.com/rgalanakis/pps-food-feed">github.com/rgalanakis/pps-food-feed</a>.
        </p>
      </div>
      <hr />
      <% unless limited %><div class="help">
        <p><a href="<%= k8_link %>">View a printable version of this page with Elementary/Middle/K-8 School menus.</a></p>
        <p><a href="<%= hs_link %>">View a printable version of this page with High School menus.</a></p>
      </div><% end %>
    </div>
  </div>
</div>
<div class="printroot">
  <div class="chrome">
    <div class="content">
      <div class="pagehead">
        <div class="title">
          <img class="logo" width="54" height="54" src="/static/ui/pps_district_logo-01.png" alt="Portland Public Schools">
          <h1>PPS Menu Calendar Feeds</h1>
        </div>
        <p class="subhead">
          Scan the QR code to sync the PPS food menus to your calendar.
        </p>
        <p class="subhead">
          Visit <strong><%= homepage %></strong> if you&rsquo;re having trouble.
        </p>
      </div>
      <% links.each do |link| %>
        <div class="cal-group">
          <a id="<%= link[:slug] %>"></a>
          <h2><%= link[:name] %></h2>
          <div class="cal-add-row">
            <div class="cal-add-group">
              <img src="/static/ui/gcalendar.png" alt="Add to Google Calendar" />
              <strong>Google Calendar</strong>
              <div class="qrcode"><%= link[:google_svg] %></div>
            </div>
            <div class="cal-add-group">
              <img src="/static/ui/ical.png" alt="Add to Apple or Outlook" />
              <strong>Apple/Outlook</strong>
              <div class="qrcode"><%= link[:webcal_svg] %></div>
            </div>
          </div>
        </div>
      <% end %>
      <p class="subhead">
        <strong><%= homepage %></strong> is <strong>not</strong> an official PPS service.
        Visit the website for more information.
      </p>
    </div>
  </div>
</div>
</body>
</html>